<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.openthc.app">

    <!--<dist:module dist:instant="true"/>-->

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".HostActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_host"
                android:parentActivityName=".MainActivity"
                android:theme="@style/FullscreenTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.openthc.app.MainActivity"/>
        </activity>

        <activity
                android:name=".AuthScanActivity"
                android:label="@string/title_activity_auth_scan"
                android:parentActivityName=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.openthc.app.MainActivity"/>
        </activity>

        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".AuthActivity"
                android:label="@string/app_name">
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.openthc.app.MainActivity"/>
        </activity>

        <activity
                android:name=".RetailSideActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_retail_side"
                android:theme="@style/FullscreenTheme">
        </activity>

        <activity
                android:name=".SupplySideActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_supply_side"
                android:theme="@style/FullscreenTheme">
        </activity>
    </application>

</manifest>